<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrackIt</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="bg-darkblue">

    <nav class="navbar navbar-expand-lg navbar-dark bg-greenblue">
        <a class="navbar-brand" href="/Portal">
            <img src="~/Content/trackIt_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            TrackIt
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Manage Users", "Index", "ManageRoles", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Roles", "Index", "Role", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Projects", "Index", "Project", null, new { @class = "nav-link" })
                </li>
            </ul>
            <span class="navbar-text dropdown">
                @Html.Partial("_LoginPartial")
            </span>
        </div>
    </nav>

    <div class="container p-5">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
